@model PessoalResponse;
@{  
	ViewData["Title"] = "Editar";
    string data = Model.ResponseObject[0].DataDeNacimento.ToString("yyyy'-'MM'-'dd");
}

<form method="post" asp-controller="Pessoal" asp-action="PessoaEdit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Alterar Funcionario</h2>
			<hr />
		</div>
		<input type="hidden" asp-for="ResponseObject[0].Id" value="@Model.ResponseObject[0].Id">
		<div class="mb-3">
			<label asp-for="ResponseObject[0].Name"></label><br>
			<input type="text" asp-for="ResponseObject[0].Name" required>
			@*<span asp-validation-for="NomeDoContato" class="text-danger"></span>*@
		</div>
		<div class="mb-3">
			<label asp-for="ResponseObject[0].DataDeNacimento"></label><br>
			<input type="date" asp-for="ResponseObject[0].DataDeNacimento" value="@data" required>
			@*<span asp-validation-for="DataDeNacimento" class="text-danger"></span>*@
		</div>
		<div class="mb-5">	
			<label asp-for="ResponseObject[0].Sexo"></label><br>
			<select asp-for="ResponseObject[0].Sexo" required>
				<option value="Masculino">Masculino</option>
				<option value="Feminino">Feminino</option>
			</select>
		</div>
		<div class="mb-5">
			<label asp-for="ResponseObject[0].Setor"></label><br>
			<select asp-for="ResponseObject[0].Setor" required>
				<option value="Financeiro">Financeiro</option>
				<option value="Recusrso_Humanos">Recusrso_Humanos</option>
				<option value="Logística">Logística</option>
				<option value="Escritório">Escritório</option>
				<option value="Produção">Produção</option>
				<option value="Administração">Administração</option>
				<option value="Direção">Direção</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Alterar</button>
		<a asp-controller="Pessoal" asp-action="Index" class="btn btn-secondary">Voltar</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}